@media screen and (max-width: 768px) {

  body {
    box-sizing: border-box;
  }
  h2 {
    padding: 20px;
  }
  h2#hebergements-marseille {
    margin-left: 0;
  }
  header {
    width: 100%;
    height: auto;
    justify-content: center;
  }
  .container {
    width: 100%;
    flex-direction: column;
  }
  span.hebergements {
    width: 50%;
  }
  span.activites {
    width: 50%;
  }

  nav {
  margin-top: 20px;
}
  .filtres {
    margin: 15px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
.info {
  padding: 20px;
  margin: 0;
}
  .liens {
   width: 100%;
   margin-bottom: 10px;
   display: flex;
   border-bottom: 3px solid #f2f2f2;
 }

  a:hover,
  a:focus {
  border-bottom: 3px #0065fc solid;
  border-top: none;
  cursor: pointer;
 }

 .marseille {
   background-color: white;
   width: 100%;
   height: auto;
   order: 2;
 }

 .town {
   width: 100%;
   flex-wrap: wrap;
   padding-top: 0;
 }

 .town > div {
   width: 100%;
 }
 .card {
   margin: 20px;
 }
 
 .popular-card-columns {
   width: 90%;
   justify-content: space-between;
   margin: auto;
   padding-top: 0;
   margin-bottom: 30px;
 }

 .popular-title {
   width: 100%;
   justify-content: space-between;
   align-items: center;
 }

 .fa-chart-line:before {
   margin: 30px;
 }

 .most-popular {
  border-radius: 0;
  padding-top: 0;
  width: 100%;
  height: 650px;
  flex-direction: column;
  align-items: center;
  order: 1;
 }

.popular-card {
  height: 150px;
}

.popular-card > .popular-card .star  {
  justify-content: space-between;
}

 .hebergements { 
   display: flex;
   flex-direction: column;
 }
 #activites {
   margin-top: 0;
 }

 .activity-card {
   flex-direction: column;
   height: auto;
   width: 100%;
 }

 .section {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
 }

 .bloc-1 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.card-medium-1 {
  margin-bottom: 20px;
}

.bloc-2 {
  width: 100%;
  height: auto;
}

.bloc-3 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.card-small-2 {
  margin-bottom: 20px;
}

.bloc-4 {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.img-large-1 {
width: 90%;  
height: 250px;
margin: auto;
}
.img-medium-1 {
width: 90%;
height: 250px;
margin: auto;
}
.img-small-1 {
width: 90%;
height: 250px;
margin: auto;
}
.img-large-2 {
width: 90%;
height: 250px;
margin: auto;
}
.img-medium-2 {
width: 90%;
height: 250px;
margin: auto;
}
.img-small-2 {
width: 90%;
height: 250px;
margin: auto;
}

 .description {
   width: 90%;
   margin: auto;
 }

 #button-search {
  width: 50px;
  position: relative;
  border-radius: 15px;
  left: -15px;
 }

 .desktop-none {
   display: block;
   display: flex;
   justify-content: center;
   font-size:large;
 }

 .mobile-none {
   display: none;
 }

  footer a:hover,
  a:focus {
  color: black;
  border-bottom: none;
  cursor: pointer;
}
 footer {
   flex-direction: column;
   white-space: nowrap;
 }
}