body {
  font-family: Raleway;
}

div.conteneur {
  display: flex;
  justify-content: space-between;
  }
.element1 {
  font-size: small;
}
.element-z > div {
  display: inline-block;
  padding: 12px;
}

.element2:hover,
.element2:focus {
  border-top: 2px #0065fc solid;
  color:#0065fc;
}
.element3:hover,
.element3:focus {
  border-top: 2px #0065fc solid;
  color:#0065fc;
}

.recherche {
  
  display: flex;
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
  font-weight:bold;
}
.formulaire {
  height: 50px;
  width: 150px;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
  border: (#F2F2F2);
  text-align: center;

}
.logo-map {
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.buttonSearch {
  background-color: #0065FC;
  text-align: center;
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.filtres {
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  .filtres-Text {
    display: flex;
    justify-content: flex-start;
  }

.logo1{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.logo2{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.logo3{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.logo4{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}

*.icon-blue {
  color: #0065fc;
}

i.fa-info {
  display: inline-block;
  border-radius: 30px;
  box-shadow: 0px 0px 2px #f2f2f2;
  padding: 0.5em 0.6em;
  color: #0065fc;
}
.bloc1{
  background-color: (#F2F2F2);
  display: flex;
  justify-content: flex-start;
}
   .Hebergements1 {
background-image: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0 0;
   }
   .imgHebergements2 {
background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0 0;
   }
   .imgHebergements3 {
background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0 0;
   }
   .imgHebergements4 {
background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0 0;
   }
   .imgHebergements5 {
background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0 0;
   }
   .imgHebergements6 {
background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
width: 100%;
height: 120px;
background-size: cover;
background-position: center;
border-radius: 15px 15px 0 0;
   }
   .fa-star {
     color:#0065fc;
}