body {
  font-family: Raleway;
}

div.conteneur {
  border: 5px solid lightsalmon;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  }
.element1 {
  font-size: small;
}
.element-z > div {
  display: inline-block;
  padding: 12px;
}

.element2:hover,
.element2:focus {
  border-top: 2px #0065fc solid;
  color:#0065fc;
}
.element3:hover,
.element3:focus {
  border-top: 2px #0065fc solid;
  color:#0065fc;
}

.recherche {
  border: 5px solid green;
  border-radius: 20px;
  display: flex;
  height: 50px;
  width: 300px;
  font-size: 18px;
  color: black;
  font-weight:bold;
}
.formulaire {
  height: 50px;
  width: 150px;
  font-weight: bold;
  border-radius: 10px 0 0 10px;
  border-color: grey;
  text-align: center;

}
.logo-map {
  background-color:#F2F2F2 ;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 0 0 10px;
}

.buttonSearch {
  background-color: #0065FC;
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.filtres {
  font-weight: bold;
  border :5px solid violet;
  border-radius: 20px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
  
.logo1{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.logo2{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.logo3{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
.logo4{
  background-color:#DEEBFF;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  text-align: center;
  color: #0065fc;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
}
*.icon-blue {
  color: #0065fc;
}
i.fa-info {
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0px 0px 2px gray;
  padding: 0.5em 0.6em;
  color: #0065fc;
}
   .fa-star {
     color:#0065fc;
}
section {
  height: 600px;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 30px;
  border: 5px solid red;
  background-color:#F2F2F2;
  border-radius: 20px;
}

div.wrapper {
  height: 550px;
  width: 750px;
  border: 5px solid cyan;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  }

.box1 {
  width: 150px;
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  padding-top: 10px;
  border-radius: 20px;
}
.box2 {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
}
.box3 {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
}
.box4 {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
}
.box5 {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
}
.box6 {
  border: 2px solid grey;
  border-radius: 20px;
  background-color: white;
  padding: 2px;
  border-radius: 20px;
}

aside {
  display: block;
  display: flex;
  flex-direction: column;
  border: 5px solid green;
  background-color:#F2F2F2;
  border-radius: 20px;
  width: 250px;
  height: 550px;
}

article {
  border: 5px solid blue;
  border-radius: 20px;
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 200px 200px 200px;
}
.card {
  width: 400px;
  box-shadow: 0px 5px 20px #F2F2F2;
}
.card-image {
  border-radius: 20px;
  height: 250px;
  position: relative;
  overflow: hidden;
}
.card-image img {
  width: 150%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  transition-duration: .3s;
  transition-timing-function: ease;
}
.card-body {
  padding-left: 20px; 
  box-sizing: border-box;
}
footer {
  border: 5px solid rgb(200, 0, 255);
  border-radius: 20px;
  background-color: #F2F2F2;
  height: 200px;
  width: auto;
  display: flex;
  justify-content: space-between;
}
